﻿@model FizzBuzz.WebApp.Models.IndexModel

@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<body>
    <h1>Fizz Buzz</h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.Label("Please enter any positive Integer")<span class="mandatory">*</span></td>
                <td>@Html.TextBoxFor(m => m.InputData, new { @type = "text" })</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.InputData, "", new { @class = "validationFailed" })</td>
            </tr>

        </table>

        @if (Model != null && Model.Messages.Count > 0)
        {
            <h4>Output Message:</h4>
            <ul id="ulMessage">
                @foreach (var message in Model.Messages)
                {
                    if (message == "Fizz" || message == "Wizz")
                    {
                        <li class="fizz">@message</li>
                    }
                    else if (message == "Buzz" || message == "Wuzz")
                    {
                        <li class="buzz">@message</li>
                    }
                    else
                    {
                        <li>@message</li>
                    }
                }
            </ul>
            <table cellpadding="10" cellspacing="0">
                <tr>
                    @for (int pageIndex = 1; pageIndex <= Model.PageCount; pageIndex++)
                    {
                        <td>
                            @if (pageIndex != Model.CurrentPageIndex)
                            {
                                <a class="pageIndex">@pageIndex</a>
                            }
                            else
                            {
                                <span>@pageIndex</span>
                            }
                        </td>
                    }
                </tr>
            </table>
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
        }
    }

    <script src="~/lib/jquery.min.js"></script>
    <script src="~/js/FizzBuzz.js"></script>
    <link href="~/css/FizzBuzz.css" rel="stylesheet" />
</body>
</html>